@use "abstracts/variables" as *;

button {
  color: $white;
  background: linear-gradient(to right, $cyan, $blue);
  border-style: none;
  border-radius: 24px;
  cursor: pointer;
}

button:hover {
  background: rgba($color: rgb(179, 226, 241), $alpha: 1);
}
