* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
}

a {
  text-decoration: none;
  color: white;
}

button {
  border-style: none;
}

input {
  border: none;
  outline: none;
}

body {
  font-family: "Open Sans", sans-serif;
  font-size: clamp(14px, 2vw, 16px);
  color: white;
}

button {
  color: white;
  background: linear-gradient(to right, #65e2d9, #339ecc);
  font-weight: 700;
  border-radius: 24px;
  cursor: pointer;
}

button:hover {
  background: #b3e2f1;
}

.testimonial-card {
  background-color: #202a3c;
  border-radius: 6px;
  padding: 2em 1.75em;
  margin: 0 auto 2em auto;
  position: relative;
}

.testimonial-body {
  font-size: clamp(12px, 2vw, 16px);
  line-height: 1.8;
  margin-bottom: 2em;
}

.user-details {
  display: flex;
  align-items: center;
}

.user-details img {
  width: 36px;
  height: 36px;
  border-radius: 50%;
  margin-right: 1em;
}

.user-name {
  font-size: 0.75rem;
  font-weight: 700;
  margin-bottom: 0.25rem;
}

.user-title {
  font-size: 0.625rem;
}

.bg-quotes {
  position: absolute;
  z-index: 1;
  bottom: 100%;
  left: 5%;
}

.info-card {
  text-align: center;
  margin: 0 auto 6em auto;
  max-width: 350px;
}

.info-card img {
  height: 78px;
  max-width: 25%;
  margin: 0 auto 2em auto;
}

.info-title {
  font-family: "Raleway", sans-serif;
  font-size: clamp(18px, 2vw, 20px);
  font-weight: 700;
  margin-bottom: 0.75em;
}

h3 {
  font-family: "Raleway", sans-serif;
  font-size: clamp(18px, 4vw, 28px);
  margin-bottom: 1em;
}

.cta-content {
  position: relative;
}

.cta-content .container {
  background-color: #1c2431;
  text-align: center;
  padding: 2em 1.5em;
  border-radius: 8px;
  box-shadow: 0px 8px 12px rgba(0, 0, 0, 0.25);
  max-width: 820px;
}

.cta-content p {
  margin-bottom: 2em;
}

input[type=email] {
  width: 90%;
  max-width: 400px;
  border-radius: 24px;
  padding: 1em 0;
  margin-bottom: 1.25em;
}

input[type=submit] {
  width: 90%;
  max-width: 400px;
  font-family: "Open Sans", sans-serif;
  font-weight: 700;
  color: white;
  background: linear-gradient(to right, #65e2d9, #339ecc);
  border-radius: 24px;
  padding: 1em 0;
  cursor: pointer;
}

input[type=submit]:hover {
  background: #b3e2f1;
}

@media (min-width: 1000px) {
  input[type=submit] {
    width: 200px;
    margin-left: 2em;
  }
}
body {
  background-color: #181f2a;
  min-width: 300px;
}

.header-bg {
  position: absolute;
  min-width: 300px;
  width: 100%;
  height: 400px;
  background-color: #1c2431;
  top: 0;
  z-index: -2;
}

.container {
  min-width: 300px;
  width: 80%;
  margin: 0 auto;
}

@media (min-width: 1200px) {
  .container {
    width: 90%;
  }
}
header {
  margin-top: clamp(32px, 6vw, 64px);
  margin-bottom: clamp(48px, 6vw, 64px);
}

header .container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

header img {
  max-width: 25%;
}

nav {
  display: flex;
}

nav li {
  display: flex;
}

nav li a {
  font-family: "Raleway", sans-serif;
  font-size: clamp(12px, 2vw, 16px);
  margin-left: clamp(14px, 4vw, 56px);
}

h1 {
  font-family: "Raleway", sans-serif;
  font-size: clamp(22px, 4vw, 36px);
  margin: 0 auto 0.75em auto;
  line-height: 1.5;
  max-width: 700px;
}

.hero-content {
  text-align: center;
  margin-bottom: 10em;
  background: url(/bg-curvy-mobile.3eef75f6.svg);
  background-repeat: no-repeat;
  background-size: 100% 140px;
  background-position: 0% 50%;
  position: relative;
}

.hero-content img {
  max-width: 90%;
  margin-bottom: 2em;
}

.hero-content p {
  margin: 0 auto 2em auto;
  max-width: 500px;
}

.hero-content button {
  padding: 1em 6em;
}

.info-content {
  margin-bottom: 4em;
}

.info-content .container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  grid-column-gap: 32px;
  max-width: 950px;
}

.second-info-content {
  margin-bottom: 10em;
}

.second-info-picture {
  display: block;
  max-width: 100%;
  margin: 0 auto 4em auto;
}

.second-info-content h2 {
  font-family: "Raleway", sans-serif;
  font-size: clamp(18px, 4vw, 36px);
  margin-bottom: 1em;
}

.second-info-content p {
  margin-bottom: 1em;
}

.second-info-content a {
  display: flex;
  align-items: center;
  width: clamp(130px, 21.5vw, 170px);
  font-size: clamp(12px, 2vw, 16px);
  color: #65e2d9;
  border-bottom: 1px solid #65e2d9;
  padding-bottom: 0.25em;
}

.second-info-content a img {
  margin-left: 0.25em;
}

@media (min-width: 1200px) {
  .second-info-content .container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    max-width: 1200px;
  }

  .second-info-body {
    max-width: 440px;
    margin-left: 4em;
  }
}
.testimonial-content {
  margin-bottom: 10em;
}

.testimonial-content .container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  grid-column-gap: 48px;
  max-width: 1250px;
}

footer {
  background-color: #0b1523;
  min-width: 300px;
  margin-top: -8em;
  padding-top: 12em;
  padding-bottom: 2em;
}

footer .container {
  max-width: 1200px;
}

.company-logo {
  margin-top: 2em;
  margin-bottom: 3em;
}

.contact-container {
  margin-bottom: 4em;
}

.contact-info {
  display: flex;
  align-items: center;
  margin-bottom: 1em;
}

.contact-info:first-child {
  align-items: flex-start;
}

.contact-info:first-child img {
  margin-top: 0.5em;
}

.contact-info img {
  margin-right: 1.5em;
}

.contact-info p {
  margin-left: 0.5em;
  max-width: 290px;
}

.footer-links {
  margin-bottom: 4em;
}

.footer-links li {
  margin-bottom: 1em;
}

.social-links {
  text-align: center;
}

.social-links a {
  display: inline-block;
  border-radius: 50%;
  border: 1px solid white;
  text-align: center;
  vertical-align: middle;
  line-height: 2em;
  height: 2em;
  width: 2em;
  margin-right: 0.5em;
}

@media (min-width: 820px) {
  .footer-links-container {
    display: flex;
    justify-content: space-between;
  }
}
@media (min-width: 1200px) {
  .contact-container {
    display: flex;
    justify-content: space-between;
  }

  .wrapper {
    margin-left: 6em;
  }
}