@use "abstracts/variables" as *;

.info-content {
  margin-bottom: 4em;
}

.info-content .container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  grid-column-gap: 32px;
  max-width: 900px;
}
