@use "abstracts/variables" as *;

.second-info-content {
  margin-bottom: 10em;
}

.second-info-picture {
  display: block;
  max-width: 100%;
  margin: 0 auto 4em auto;
}

.second-info-content h2 {
  font-family: $header-font;
  font-size: clamp(18px, 4vw, 36px);
  margin-bottom: 1em;
}

.second-info-content p {
  margin-bottom: 1em;
}

.second-info-content a {
  display: flex;
  align-items: center;
  width: clamp(130px, 21.5vw, 170px);
  font-size: clamp(12px, 2vw, 16px);
  color: $cyan;
  border-bottom: 1px solid $cyan;
  padding-bottom: 0.25em;
}

.second-info-content a:hover {
  color: $white;
  border-bottom: 1px solid $white;
}

.second-info-content a img {
  margin-left: 0.25em;
}

@media (min-width: 1200px) {
  .second-info-content .container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    max-width: 1200px;
  }

  .second-info-body {
    max-width: 440px;
    margin-left: 4em;
  }
}
